.maiDiv {
  background-color: rgb(29, 69, 78);
}

.firstDiv {
  background-image: url(./back.JPG);
  background-size: cover;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 150px;
  width: 100%;
  height: 4em;
  background-position-y: -30px;
  margin-right: 0;
}

.section {
  margin-bottom: 20px;
}
